<ion-view class="bar-positive">
  <ion-content class="bg">

      <a ng-href="#/"><img src="img/splitter_logo.png" class="logo"></a>
      <p class="title-font3"> sign up </p>
      <form ng-submit="handleRegBtnClick(registrationForm)" role="form" ng-init="registrationForm = {}">
        <div clas="form-group">
          <label class="item item-input">
          <input type="email" placeholder="E-mail"name="email" ng-model="registrationForm.email" required class="form-control"/>
          </label>
        </div>

        <div class="form-group margin-box">
          <label class="item item-input">
          <input type="password" class="" placeholder="Password" length="100%" name="password" ng-model="registrationForm.password" required class="form-control"/>
          </label>
        </div>

        <div class="form-group border-black margin-box">
          <label class="item item-input">
          <input type="password" placeholder="Password Confirmation" name="password_confirmation" ng-model="registrationForm.password_confirmation" required class="form-control"/>
          </label>
        </div>

        <button type="submit" class="button button-block button-dark"><b>Register</b></button>
      </form>

  </ion-content>

</ion-view>
