<ion-view view-title="Bills">
  <ion-header-bar align-title="center" class="bar-stable">
    <h1 class="title"><b>my bills</h1>
  </ion-header-bar>

  <ion-content class="bills">
    <ul class="list" ng-init="ctrl.getBills()">
      <li class="bills item" ng-repeat="bill in ctrl.bills | orderBy: '-'">
        <a href="#/bills/{{bill.id}}"><h3>{{bill.event}}</h3></a>
      </li>
    </ul>

  </ion-content>

  <ion-footer-bar align-title="center" class="bar-stable">
    <h1 class="title"><img src="img/splitter_logo.png" class="logo-small" style=""></h1>
  </ion-footer-bar>
</ion-view>
