<ion-view view-title="Add a new bill">
  <ion-content>
    <h3>How to get the best results from your photo.</h3>
    <ul>
      <li>Take a vertical photo of just the items and the total in the receipt.</li>
      <li>Crop the photo so that it only contains the receipt.</li>
      <li>Make sure that the text is in line horizontally with the phone.</li>
      <li>Ensure the photo is well lit.</li>
    </ul>
    <a ng-click="ctrl.takePicture()" id="take-photo" class="button icon button-full button-calm">Take Photo</a>
  </ion-content>
</ion-view>
