/* Empty. Add your own CSS if you like */

.bills {
  top: 66px;
  bottom: 45px;
  padding: 10px;
}

table{
  width: 100%;
}
.items {
    top: 32px;
    bottom: 49px;
}

.item {
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 20px;
  margin: 8px 0px;
  border-radius: 20px

}

.bar-header a {
    padding: 13px;
}

a {
  text-decoration: none;
  color: black;
}




.bar-header {
  padding-bottom: 60px;
}

.list {
  text-align: center;
}

.bg {
  background-image: url("http://i.imgur.com/Y8jvpvX.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}

.logo {
  width:180px;
  height: auto;
  padding: 15px 0px 5px 0px;
  -webkit-filter: drop-shadow(3px 3px 3px #424242);
}

.logo-small {
  width:50px;
  height: auto;
  -webkit-filter: drop-shadow(1px 1px 1px #424242);
}

.logo-smaller {
  width:35px;
  padding-bottom: 3px;
  height: auto;
  -webkit-filter: drop-shadow(1px 1px 1px #424242);
}

.margin-box {
  margin-top: 10px;
  margin-bottom: 10px;
}

.inputbox {
  width: 100%;
}

.basic {
  font-size: 30px;
  color: blue;
}

.list-text {
  font-size: 12px;

}

.title {
  font-size: 20px;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}

.title2 {
  font-size: 15px;
}

td {
  font-size: 15px;
}

tr {
  padding-top: 10px;
}

.title-font2 {
  font-family: 'Special Elite', cursive;
  font-size: 50px;
  font-weight: bold;
  letter-spacing:0.1em;
  text-align: center;
  padding: 80px 0px 0px 0px;
  color: #2b2b2b;
  text-shadow: 3px 3px 3px rgba(0,0,0,0.2);
  color: black;
}

.title-font3 {
  font-family: 'Varela Round', sans-serif;
  font-size: 45px;
  font-weight: bold;
  letter-spacing:0.1em;
  text-align: center;
  padding: 20px 0px 40px 0px;
  color: black;
  text-shadow: 3px 3px 3px rgba(0,0,0,0.3);

}

.title-font4 {
  font-family: 'Varela Round', sans-serif;
  font-size: 30px;
  font-weight: bold;
  letter-spacing:0.0em;
  text-align: center;
  color: white;
}

.instructions-text {
  font-family: 'Varela Round', sans-serif;
  font-size: 18px;
}

.event-name-text {
  font-family: 'Varela Round', sans-serif;
  font-size: 18px;
  font-weight: bold;
  padding: 15px 0px 5px 0px;
}

.shadow1 {
  text-shadow: 2px 2px 2px rgba(255,255,255,0.4);
}

.box {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 5px 5px 1px 5px;
  border-radius: 15px;
  margin: 0px 30px 0px 30px;
}

.box2 {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px;
  border-radius: 20px;
}

.bar-stable {
  text-align: center;
}

img {
  text-align: center;
}

.item-input {
  width: 97%;
  margin-left: 4px;
  border-radius: 12px;
}

h3 {
  margin: 0px 20px 15px 20px;
  text-shadow: 2px 2px 2px rgba(255,255,255,0.3);
}
.bar.bar-stable .title {
    left: 21px;
    right: 21px;
    top: 10px;
    font-size: 31px;
}
h3.ng-binding {
    font-size: 22px;
}
.container1 {
  margin-top: 20px;
}

.ion-ios-arrow-back {
  font-size: 30px;
  text-decoration: none;
  text-shadow: 2px 2px 2px rgba(0,0,0,0.2);
}

.ion-trash-a {
  font-size: 30px;
}

.ion-compose {
  font-size: 30px;
}
